img{
    height: 16%;
    width: 16%;
    border-radius: 50%;
    float: left;
}
header{
    background-color: rgb(158, 158, 189);
    padding: 2.5%;  
}
div{
    margin-left: 20%;
}

body{
    background-color: rgb(210, 216, 216);
    margin: 0;
}
section{
    margin-left: 10%;
}

footer{
    background-color: rgb(158, 158, 189);
    padding: 1%; 
}
table{
    border: 2px solid;
    width: 50%;
    text-align: center;
}
th{
    background-color: rgb(158, 158, 189);
}